.headerDrinks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.titleDrinks {
  color: #41197f;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 5px;
}

.icon {
  margin: 10px;
  width: 50px;
}
