.layout {
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  height: 100vh;
  justify-content: top;
  width: 100%;
}

.body {
  padding-bottom: 100px;
  padding-top: 70px;
  width: 100%;
}

.pageProfile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.HeaderProfile {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.icon {
  height: 50px;
  margin: 10px;
}

.titleProfile {
  color: #41197f;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 5px;
  text-transform: uppercase;
}

.emailProfile {
  font-family: Sriracha , cursive;
  font-size: 1.2em;
  font-weight: 900;
  margin-top: 5px;
}

.OptionsProfile {
  height: 100%;
  margin: 70px 0;
}

.OptionsBox {
  border-bottom: 2px solid #cecece;
  border-top: 2px solid #cecece;
  margin: 20px 0;
  padding: 20px 0;
}

.buttonsProfile {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Sriracha , cursive;
  font-size: 1.2rem;
  outline: none;
}

.buttonsProfile:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.buttonsProfile:active {
  transform: scale(0.9);
  transition: 0.3s;
}

/* About Us */

/* fonte CSS: https://uiverse.io/Yaya12085/afraid-robin-32 */
.buttonsAbout {
  align-items: flex-end;
  background-color: black;
  background-position: bottom right , bottom right;
  background-repeat: no-repeat;
  background-size: 100% 100% , 100% 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 12px 12px;
  box-shadow: inset -4px -10px 0 rgba(150, 150, 150, 0.445);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 8px;
  position: relative;
  transform: perspective(70px) rotateX(5deg) rotateY(0deg);
  transition: all 0.1s ease-in-out 0s;
  user-select: none;
  width: 150px;
  will-change: transform;
}

.buttonsAbout:after {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2));
  border-radius: 15px;
  bottom: 0;
  box-shadow: inset 4px 0 0 rgba(255, 255, 255, 0.1);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.1s ease-in-out 0s;
  z-index: -1;
}

.buttonsAbout:before {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-position: bottom right , bottom right;
  background-repeat: no-repeat;
  background-size: 100% 100% , 100% 100%;
  border-radius: 15px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.1s ease-in-out 0s;
  z-index: -1;
}

.buttonsAbout:active {
  border: 0.25px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset -4px -8px 0 rgba(255, 255, 255, 0.2);
  transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
  transition: all 0.1s ease-in-out 0s;
  will-change: transform;
}

.buttonsAbout:after:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
}

.buttonsAbout:active:before {
  animation: overlay 0.1s ease-in-out 0s;
  background-color: rgba(255, 255, 255, 0.1);
  content: '';
  display: block;
  height: 80%;
  left: 20%;
  pointer-events: none;
  position: absolute;
  top: 5%;
  width: 50%;
}

.buttonsAbout img {
  height: 40px;
}

@keyframes overlay {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button:focus {
  outline: none;
}
