.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Sriracha , cursive;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.inputSearch {
  align-items: center;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  height: 30px;
  justify-content: center;
  margin-bottom: 15px;
  padding: 30px 10px;
  text-align: center;
  width: 100%;
}

.bodySearch {
  align-items: center;
  background: #aa3a3a;
  border-radius: 20px;
  box-shadow: rgb(162, 162, 162) 1px 1px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 0;
  width: 100%;
}

.filterSearch {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.filterSearch label {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 12.3px;
  margin-left: 4px;
  padding-top: 3.5px;
}

.option {
  align-items: center;
  display: flex;
  justify-content: center;
}

.radioForm {
  align-items: center;
  appearance: none;
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  height: 15px;
  padding: 2px;
  width: 15px;
}

.radioForm:checked {
  background-color: #ffbd59;
}

.buttonSearch {
  background: #ff5757;
  border: none;
  border-radius: 5px;
  color: #f8f4e3;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  letter-spacing: 0.03em;
  line-height: 12.3px;
  margin: 15px 0;
  padding-top: 0.2em;
  text-transform: uppercase;
  width: 207.54px;
}

.buttonSearch:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.buttonSearch:active {
  transform: scale(0.9);
  transition: 0.3s;
}
