.title {
    /* position: absolute;
    color: white; */
}

.img {
    height: 300px;
}

.instructions {
    width: 300px;
}

.recommendedScroll {
    display: flex;
    gap: 10px;
    width: 300px;
    overflow-y: hidden;
}

.recommendedCard {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.recommendedCard img {
    width: 160px;  
    border-radius: 5px 5px 0 0;
}

.recommendedCard p {
    border: 1px solid #B1B1B1;
    border-radius: 0 0 5px 5px;
    padding: 3px 10px;
}

.startBtn {
    background-color: lightgreen;
    position: fixed;
    bottom: 0;
}